
#checkout-button {
					float: right;
					font-family: Times New Roman, Georgia, serif;
					margin: 15px 0 0 0;
					font-weight: bold;
					font-size: 21px;}

#checkout-button a {
					color: #a9092c;
					background: #fff url(../images/check-pointer.jpg) top right no-repeat;
					text-decoration: none;
					padding: 0 24px 0 0;}	

@media only screen and (min-width: 480px) {
    .main-container, .footer-container {
        padding: 5px 24px;
    }
}

/* - box-3-offer - */

#box-3-offer {
					margin: 17px 0 0 0;
					padding: 19px 0 0 0;
					height: 161px;
					background: #fff url(../images/line.jpg) top center no-repeat;}
					
.box-3-offer-column {
					float: left;
					/**/height: 161px;
					width: 320px;
					background: #ebebeb;
					margin: 0 8px 0 0;}	

.box-3-offer-last {
					margin: 0;}	

/* - box-slide-offer - */
			
#box-slide-offer {
					margin: 27px 0 0 0;
					padding: 13px 0 0 0;
					position: relative;
					height: 306px;
					background: #fff url(../images/line.jpg) top center no-repeat;}	

#box-slide-offer button {
					border: 0px solid #fff;
					background: #fff;}					

.box-slide-product {
					border-bottom: 1px solid #ccc;
					width: 160px;
					height: 257px;
					padding: 0 0 4px 0;
					text-align: center;
					margin: 0 10px;}
					
.box-slide-product img {
    display: inline-block;
}

.box-title {
					font-weight: normal;
					text-align: center;
					margin: 0 0 19px 0;
					color: #555;}					
					
.slider-product-title {
					font-weight: normal;
					height: auto;
					margin: 5px 10px 2px 10px;
					height: 20px;
					color: #444;
					font-size: 11px;
					min-height: 20px;}	
					
.box-slide-description {
					font-size: 10px;
					line-height: 11px;
					color: #8f8f8f;
					margin: 0 0 3px 0;}

.box-slide-price, .box-slide-price-discound {
					font-weight: bold;
					font-size: 11px;
					margin: 0 0 2px 0;}	
					
.box-slide-price-discound {
					text-decoration: line-through;}					

.box-slide-special-price {
					font-weight: bold;
					color: #a80d2c;
					margin: 1px 0 2px 0;}

/* - newsletter delivery - */
#newsletter h3 {
    
}

#newsletter-delivery {
					margin: 29px 0 0 0;
					padding: 11px 17px 10px 17px;
					height: 100px;
					background: #fff url(../images/bg-newsletter-delivery.jpg) top left no-repeat;}
					
#newsletter {
					float: left;
					position: relative;
					width: 400px;}
					
#newsletter-input input {
					width: 189px;
					font-family: Arial, sans-serif;
					color: #999;
					border: 0px solid #999;
					font-size: 11px;
					margin: 0 10px 0 0;
					padding: 4px 3px;
height: 20px;}

#newsletter-input input:hover {
					border: none;}					

#newsletter-input button {
					font-size: 11px;
					color: #444;
					position: absolute;
					top: 23px;
					left: 208px;
					width: 90px;
					text-align: center;
					height: 24px;
					border: 0px solid #999;
					background: url(../images/news-button.png) top left no-repeat;
					font-weight: bold;
padding:0;
text-transform: none;}		

#delivery {
					float: right;
					width: 419px;}	

#newsletter-delivery h3 {
					font-size: 16px;
                                        font-weight: bold;
					margin: 0 0 4px 0;
                                        text-transform: none;
                                        color: #333;}					
					
#delivery h3 {
					
					margin: 1px 0;
                                        text-transform: uppercase;
                                        font-weight: bold;}	

#delivery p {
					margin: 0;
line-height: 1}	

/* - bottom-links -*/					
					
#bottom-links {
					margin: 32px 0 0 0;
					color: #7a7a7a;line-height: 1}
					
#bottom-links h4 {
					font-size: 14px;
					color: #333;
					margin: 0 0 16px 0;}	

#bottom-links ul {
					margin: 0;
					padding: 0;
					list-style: none;}

#bottom-links p, #bottom-links li {
					margin: 0 0 3px 0;} 	

#bottom-links a {
					color: #666;}

#bottom-links a:hover {
					color: #a9092c;}	

#bottom-left {
					float: left;
					width: 473px;
					padding: 0 0 0 15px;}
					
#bottom-right {
					float: right;
					width: 473px;}	

.bottom-column-left {
					float: left;}

.bottom-column-right {
					float: right;}	

.column-one {
					width: 230px;
					padding: 0 0 0 3px;}

.column-two {
					width: 196px;}

.column-three {
					width: 200px;
					padding: 0 0 0 50px;}

.column-four {
					width: 182px;}	

.clr {
					clear: both;
					height: 1px;}	

#payment {
					margin: 47px 0 0 0;}

/* - two baners - */	

#comecial-description h3, #comecial-description p {		
					margin: 0 0 3px 0;}	

#comecial-description a {
					color: #333;
					text-decoration: underline;}	
					
#comecial-description a:hover {
					color: #a9092c;
					text-decoration: none;}	
					
#comecial-description-left, #comecial-description-right {
					/*width: 269px;*/
					padding: 11px 12px 13px 65px;
					background: #fff url(../images/quata.jpg) top left no-repeat;}				
					
#comecial-description-left {
					float: left;
					border-right: 1px solid #ccc;}					
					
#comecial-description-right {
					float: right;}	

.products-category-box {
					float: left;
					border-bottom: 1px solid #ccc;
					width: 160px;
					height: auto;
					height: 257px;
					padding: 0 0 4px 0;
					text-align: center;
					min-height: 257px;
					margin: 12px 13px;}
					
.box-title {
					font-weight: normal;
					text-align: center;
					margin: 0 0 19px 0;
					color: #555;}					

.products-category-title {
					font-weight: normal;
					height: auto;
					margin: 5px 10px 2px 10px;
					height: 28px;
					color: #444;
					font-size: 11px;
					min-height: 28px;}	
					
.products-category-description {
					font-size: 10px;
					line-height: 11px;
					color: #8f8f8f;
					margin: 0 0 3px 0;}

.products-category-price, .products-category-price-discound {
					font-weight: bold;
					font-size: 11px;
					margin: 0 0 2px 0;}	
					
.products-category-price-discound {
					text-decoration: line-through;}					

.products-category-special-price {
					font-weight: bold;
					color: #a80d2c;
					margin: 1px 0 2px 0;}	

.more-views {
    float: left;
    width: 64px;
}

.box-reviews .form-add {
    width: 628px;
    padding: 25px;
    color: #999;
    border: 1px solid #ccc;
    float: left;
}

.product-essential .product-collateral {
    clear: none;
    width: 48%;
    float: right;
    color: #666;
}

.product-shop input {
    width: 21px;
    text-align: center;
    padding: 1px 1px 1px 4px;
    border: 1px solid #7f7f7f;
}

.need-help {
    width:30%;
    float:right;
}

.need-help h3 {
    color: #000;
    font-size: 16px;
    font-weight: bold;
}

.need-help a {
    text-decoration: underline;
}